mat-card {
    margin: 15px;
}
fury-breadcrumbs {
    margin-left: 15px;
    margin-top: 15px;
}

td.key {
    width: 15%;
    font-weight: bold;
}

json-viewer{
  overflow: scroll !important;
}

.audit > div > .mat-tab-body{
  position: absolute;
}

.download-button {
  margin-top: 10px;
}
